<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>dskpayment</name>
    <displayName><![CDATA[DSK Credit API покупки на Кредит]]></displayName>
    <version><![CDATA[1.2.0]]></version>
    <description><![CDATA[Дава възможност на Вашите клиенти да закупуват стока на изплащане с DSK Credit API.]]></description>
    <author><![CDATA[Ilko Ivanov]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Сигурни ли сте, че желаете да го деинсталирате?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>